---
import JiraIssues from '../components/JiraIssues.tsx';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jira Dashboard</title>
  </head>
  <body>
  
    <JiraIssues client:only="react" />
  </body>
</html>
